@use 'colors' as c;
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.hero-cta-btn:hover,
.cta-btn:hover {
  opacity: 0.75;
}
.hero-cta-btn,
.cta-btn {
  box-shadow: 1px 1px 4px hsl(0, 1%, 14%);
}

.features-link:hover {
  filter: contrast(300%);
}
.features-review {
  box-shadow: 2px 2px 2px hsl(0, 0%, 87%);
}
.footer a:hover {
  color: c.$DesaturatedBlue;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
